include README.md
include README.ko.md
include LICENSE
include .env.template
include requirements.txt
prune .github
prune .venv
prune build
prune dist
prune tests
global-exclude __pycache__/*
global-exclude *.py[cod]
