[Unit]
Description=Solar RS485 Monitor Dashboard
Documentation=https://github.com/call518/Solar-RS485-Monitor
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/solar-rs485-monitor.conf
ExecStart=/usr/bin/env PATH=${PYTHON_VENV_PATH}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin solar-rs485-monitor-dashboard
Restart=always
RestartSec=10
SyslogIdentifier=solar-rs485-monitor-dashboard

[Install]
WantedBy=multi-user.target
